.cover {
    margin: 0 auto;
    margin-bottom: 92px;
    display: flex;
    max-width: 1184px;
}

@media (min-width: 320px) and (max-width: 425px) {
    .cover {
        margin-bottom: 64px;
    }
}

@media (min-width: 426px) and (max-width: 768px) {
    .cover {
        margin-bottom: 88px;
    }
}